<ion-header>
  <ion-toolbar>
    <ion-title>Plant Info </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-grid">
    <ion-row>
      <div>
        <br>
        <br>
        <h1>IMAGE</h1>
        <br>
        <br>
      </div>
    </ion-row>
    <ion-row>
      <div>
        <ion-text color="success">
          <h4>Name: {{plant.name}}</h4>
          <h4>Water: {{plant.water}}</h4>
          <h4>Placement: {{plant.placement}}</h4>
          <h4>Maintenence: {{plant.maintenence}}</h4>
          <h4>Origin: {{plant.origin}}</h4>
        </ion-text>
        <div class="button">
          <ion-button size="small" color="medium">Choose</ion-button>
        </div>
      </div>
  </ion-row>
</ion-grid>
</ion-content>
