<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      My Plants
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">My Plants<i class="fas fa-seedling"></i></ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <div class="row">
      <div>
        <!-- <ion-button size="small" color="medium"><ion-icon name="albums-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="medium"><ion-icon name="menu-outline"></ion-icon></ion-button> -->
        <ion-list>
          <ion-item-sliding *ngFor="let plant of plantsService.myPlants">
            <ion-item>
              <ion-button style="color:black" fill="clear">{{plant.name}}</ion-button>
            </ion-item>
          <ion-item-options>
            <button color="danger" (click)="removePlant(plant)">Delete</button>
          </ion-item-options> 
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>

    <ion-button expand="block" (click)="sendLocalNotification()">
      Send Local notification
      </ion-button>
      
  </section>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
