<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      My Plants
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">My Plants</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <div class="row">
      My Plants
      <div class="col text-right flex-margin">
        <ion-button size="medium" color="medium"><ion-icon name="albums-outline"></ion-icon>
        </ion-button>
        <ion-button size="medium" color="medium"><ion-icon name="menu-outline"></ion-icon></ion-button>
      </div>
    </div>
  </section>


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
